{% extends 'base.html' %}


{% block title %}Iniciar Sesión{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">  <!-- Enlace al nuevo CSS -->
<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Nombre de usuario:</label>
        <input type="text" name="username" required placeholder="Introduce tu nombre de usuario">
        
        <label for="password">Contraseña:</label>
        <input type="password" name="password" required placeholder="Introduce tu contraseña">
        
        <button type="submit">Iniciar Sesión</button>
    </form>
    {% for message in messages %}
        <div class="message error">{{ message }}</div>
    {% endfor %}
</div>
{% endblock %}
